<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="expense.Properties.Settings.expenseConnectionString"
            connectionString="Data Source=AMEER-PC;Initial Catalog=expense;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>